header .menu-sup ul, header .fondo-logo {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

header .menu a, header .menu-sup ul li a {
  text-decoration: none;
  list-style: none;
}

@media only screen and (max-width: 576px) {
  div.oferta a {
    display: none;
  }

  nav.menu-sup ul li a {
    display: block;
  }

  div a .logo {
    display: none;
  }
}
* {
  margin: 0%;
  padding: 0%;
}

header {
  position: sticky;
  top: 0px;
  z-index: 10;
}
header .parrafo-uno {
  color: #fd8103;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin: 0%;
  padding: 0%;
}
header .logo {
  height: 40px;
}
header .fondo-logo {
  background-color: #1b1b1b;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-around;
}
header .oferta-sup {
  display: flex;
  color: white;
  font-family: "Nunito", sans-serif;
}
header .link-ofertas {
  text-decoration: none;
}
header .menu-sup ul {
  list-style-type: none;
  justify-content: flex-end;
  font-family: "Nunito", sans-serif;
  background-color: #fd8103;
  margin-bottom: 0px;
}
header .menu-sup ul li a {
  padding: 1em;
  color: white;
}
header .menu {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, grey, white);
  margin-bottom: 0px;
}
header .menu a {
  font-size: 20px;
  font-weight: 500;
  color: #1b1b1b;
  font-family: "Nunito", sans-serif;
  display: inline-block;
}

header .fondo-logo, header .menu-sup ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

header .menu-sup ul li a, header .menu a {
  text-decoration: none;
  list-style: none;
}

@media only screen and (max-width: 576px) {
  div.oferta a {
    display: none;
  }

  nav.menu-sup ul li a {
    display: block;
  }

  div a .logo {
    display: none;
  }
}
body section .carro {
  display: flex;
  justify-content: center;
}
body section .card-body {
  display: flex;
  flex-direction: column;
}
body section .card-body .btn {
  margin-top: auto;
}
body section .card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
}
body section .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
body section .boton-consultar {
  color: #fd8103;
  border: 2px solid #fd8103;
  border-radius: 50px;
  text-align: center;
}
body section .boton-consultar:hover {
  background-color: #fd8103;
  color: white;
}
body .section-tarjetas {
  background-color: whitesmoke;
  margin-top: 5%;
}

header .fondo-logo, header .menu-sup ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

header .menu-sup ul li a, header .menu a {
  text-decoration: none;
  list-style: none;
}

@media only screen and (max-width: 576px) {
  div.oferta a {
    display: none;
  }

  nav.menu-sup ul li a {
    display: block;
  }

  div a .logo {
    display: none;
  }
}
footer {
  text-align: center;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 5%;
}
footer a {
  text-decoration: none;
}
footer suscripcionFooter {
  padding-bottom: 6%;
}
footer .quienesSomos {
  font-size: 30px;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}
footer .texto-somos {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  width: 90%;
  margin-top: 5%;
  padding-bottom: 10%;
  font-family: "Nunito", sans-serif;
}
footer #quienes-somos:hover {
  background-color: #1b1b1b;
  color: white;
}
footer #copyRight {
  font-size: 8px;
  padding-top: 2%;
}
footer .redes-sociales {
  padding-top: 40px;
}
footer .redes-sociales ul li {
  list-style: none;
}
footer .redes-sociales .redes {
  margin: 2px;
  height: 40px;
  width: 40px;
  padding: 5px;
}

header .fondo-logo, header .menu-sup ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

header .menu-sup ul li a, header .menu a {
  text-decoration: none;
  list-style: none;
}

@media only screen and (max-width: 576px) {
  div.oferta a {
    display: none;
  }

  nav.menu-sup ul li a {
    display: block;
  }

  div a .logo {
    display: none;
  }
}
body .sucursal {
  font-size: 50px;
  text-align: center;
  padding: 40px 40px 40px 40px;
  font-family: "Nunito", sans-serif;
}
body .sucursal-sub {
  text-align: center;
  padding: 40px 40px 40px 40px;
  font-family: "Nunito", sans-serif;
  color: #fd8103;
}
body .sucursal-container {
  display: flex;
  justify-content: space-around;
}

header .fondo-logo, header .menu-sup ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

header .menu-sup ul li a, header .menu a {
  text-decoration: none;
  list-style: none;
}

@media only screen and (max-width: 576px) {
  div.oferta a {
    display: none;
  }

  nav.menu-sup ul li a {
    display: block;
  }

  div a .logo {
    display: none;
  }
}
section .parrafo-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: whitesmoke;
  background-image: url("https://i.ibb.co/0Dv62xL/img-sections.jpg");
  font-weight: 700;
}
section .card {
  margin-bottom: 2rem;
  width: 14rem;
}

/*# sourceMappingURL=style.css.map */
